name: ci
on:
  - push
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    strategy:
      matrix:
        go: ['1.24', '1.25']
        os: [ubuntu, macos]
    runs-on: ${{ matrix.os }}-latest
    name: test (go${{ matrix.go }}-${{ matrix.os }})
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: go mod download
      - run: go build -v
      - run: make test

  test-race:
    strategy:
      matrix:
        go: ['1.24', '1.25']
        os: [ubuntu, macos]
    runs-on: ${{ matrix.os }}-latest
    name: test-race (go${{ matrix.go }}-${{ matrix.os }})
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: make test-race

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2
