name: ci
on:
  - push
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    strategy:
      matrix:
        go: ['go124', 'go125']
        os: [ubuntu, macos]
    runs-on: ${{ matrix.os }}-latest
    name: test (${{ matrix.go }}-${{ matrix.os }})
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix develop .#${{ matrix.go }} --command go mod download
      - run: nix develop .#${{ matrix.go }} --command go build -v
      - run: nix develop .#${{ matrix.go }} --command just test

  test-race:
    strategy:
      matrix:
        go: ['go124', 'go125']
        os: [ubuntu, macos]
    runs-on: ${{ matrix.os }}-latest
    name: test-race (${{ matrix.go }}-${{ matrix.os }})
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix develop .#${{ matrix.go }} --command just test-race

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix develop .#go125 --command just lint
